@import '../../styles/style';

@media(max-width: 599px) {
  .profile-image {
    // display: none
  }
  div.banner .selector {
    .started-by {
      margin-top: -50px;
      font-size: .6em;
    }
    .title {
      margin-top: 0px;
      font-size: .9em;
    }

    .date {
      margin-top: -50px;
    }

    .date.time {
      font-size: .8em;
      margin-top: -70px;
    }

    .stats {
      margin-top: -80px;
      font-size: .5em;
    }
  }

  .total-needed {
    font-size: .9em;
  }
}
